@import url('https://fonts.googleapis.com/css?family=Cabin');
$timing: 0.4s;
$bglevel1: #303238;
$bglevel2: #393b42;
$bglevel3: #424654;

html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}
html, body {
  height: 100%;
  margin: 0;
  letter-spacing: .5px;
}
body {
  font-family: 'Cabin', sans-serif;
}
li { 
  white-space: nowrap; 
}
ul, li {
  margin: 0;
  padding: 0;
}
.page-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: #1a1a1a; 
  background-color: #eee; 
  height: 100vh;
}

header {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  background: $bglevel1;
  transition: all $timing ease-out;
}

.nav-link {
  color: inherit;
  transition: all $timing;
  text-decoration: none;
}

.nav-brand {
  flex: 1 auto;
  padding: 0 16px;
  font-size: 1.5rem;
  line-height: 1.5;
  overflow: hidden;
  height: 50px;
  display: flex;
  align-items: center;
  
  a {
    display: inline-block;
    text-decoration: none;
    color: #8dcde8;
  }
  
  img {
    max-width: 100%;
    height: auto;
    vertical-align: initial;
  }
}

@media (min-width: 768px) {
  .nav-brand {
	  flex: 0 1 auto;
  }
  .nav-toggle {
    display: none;
  }
}

.nav-collapse {
  flex: 1 1 auto;
  order: 0;
  height: 100%;
}


.nav-list {
  display: flex;
  padding: 0;
  list-style-type: none;
  
  &__item {
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 50px;
    
    &:first-child {
      margin: 0;
    }
  }
}
.submenu--trigger {
  position: relative;
  cursor: pointer;
  
  &:hover {
    .submenu {
      visibility: visible;
      opacity: 1;
    }
  }
}
.third-submenu--trigger {
  position: relative;
  cursor: pointer;
  
  &:hover {
    .third-submenu {
      visibility: visible;
      opacity: 1;
    }
  }
}

.submenu--trigger i,
.third-submenu--trigger i {
  position: absolute;
  top: calc(50% - 6px);
  right: 8px;
  width: 8px;
  height: 8px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
}
.third-submenu--trigger i {
  transform: rotate(-45deg);
}

.submenu,
.third-submenu {
  opacity: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  background: $bglevel1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.35);
  transition: 0.2s ease-out;
  
  li {  
    border-top: 1px solid #525252;
    &:hover {
      background: lighten($bglevel1, 5%);
    }
  }
}
.submenu {
  top: 50px;
}

.third-submenu {
  top: 0;
  left: 100%;
}

@media (max-width: 767px) {
  .nav-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0em;
    transition: max-height 0.4s;
    
    &.showing {
      max-height: 32em;
      transition: max-height 0.4s;
    }
     
    li {
      display: inline-block;
      background: $bglevel1;
      width: 100%;
      height: auto;
      border-top: 1px solid #525252;
    }
  }
  .nav-collapse {
    margin: 0;
    flex: 1 100%;
    order: 2;
  } 
  .nav-list__item {
    padding: 0;
  }
  .nav-link {
    position: relative;
    display: block;
    width: 100%;
    padding: 16px;
    opacity: 1;
  }  
  .submenu {
    top: 0;
    height: 0px;
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    transition: 0.4s ease;
    
    li {    
      background: $bglevel2;
      display: block;
      padding-left: 20px;
    }
  }
  
  .submenu--trigger.active {
    .submenu {
      height: auto;
    }
  }
  .third-submenu {
    height: 0px;
    display: block;
    position: static;
    overflow: hidden;
    margin-left: -20px;
    li {
      background: $bglevel3;
      padding-left: 40px;
      
    }
  }
  .third-submenu--trigger.active {
    .third-submenu {
      height: auto;
    }
  }
  
  .submenu,
  .third-submenu {
    box-shadow: none;
  }
  .submenu--trigger i,
  .third-submenu--trigger i {
    right: 15px;
  }
}

.main-section {
  width: 100%;
  padding: 15px 24px 0;
}

